@import '../variables/index.scss';

#body {
  @include typhography(normal, 500, $text);
  margin: 0;
  padding: 0;
  background-color: $primaryBackground;
  height: 100vh;
}

#body h1{
  margin: 20px auto;
  text-align: center;
}

.container {
  max-width: 600px;
  background-color: $containerBackground;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px $primary;
}

button.btn {
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: $primary;
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75 ease;
}

button.btn:hover {
  background-color: $secondary;
  color: $text;
}

ul {  
  list-style: none;
  padding: 50px 0;
}

li {
  background-color: $primaryBackground;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

li:hover{
  background-color: $primary;
  color: $primaryBackground;
}

button {
  cursor: pointer;
}

.concluido {
  background: $secondary !important;
  color: $text;
  text-decoration: line-through;
}

.atrasado {
  background-color: red !important;
  color: white;
}
